*,::after,::before{
    box-sizing:border-box
}
html{
    font-family:sans-serif;
    font-family:'Courier New', Courier, monospace;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent;
}

body{
    /* background: linear-gradient(292.57deg, #1B2C2D 0.43%, #347478 100%); */
    height: 100vh;
    background: #ffffff;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

header{
    position: sticky;
    z-index:100;
    top: 0px; left: 0px;
    width: 100%;
    height: 10%;
    padding-left: 25%;
    padding-right: 25%;
    background: #347478;
    display:-ms-flexbox!important;
    display:flex!important;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

section{
    height: 100%;
}

footer{
    width: 100%;
    height:10em;
    background: gainsboro;
    padding-left: 25%;
    padding-right: 25%;
    display:-ms-flexbox!important;
    display:flex!important;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

footer a{
    color: #757575;;
    text-decoration:none
}

.links-container{
    width: 40%;
    display:flex!important;
    flex-direction:row;
    justify-content: space-between;
}

.links-container a{
    color: white;
    text-decoration:none
}

.cover-image-container{
    background: lightseagreen;
    padding: 1rem;
    height: 100vh;
}

.cover-content-container{
    background: lightskyblue;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    height: 100vh;
}